/* подключение шрифтов */

@font-face {
  font-family: "product-sans";
  src: url("/fonts/productsans.ttf") format("truetype");
}

@font-face {
  font-family: "cocon";
  src: url("/fonts/cocon_regular.otf") format("opentype");
}

/* переменные */

:root {
  /* font */
  --primary-font: product-sans;
  --secondary-font: cocon;

  /* color */
  --primary-color: #000;
  --text-color: #272727;
  --secondary-color: #a6a6a6;
  --primary-accent-color: #ffdc26;
  --secondary-accent-colot: #fff;
}

/* утилиты */

body {
  max-width: 100%;
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  margin: 0px;
  cursor: pointer;
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.h2 {
  font-weight: 400;
  font-size: 37px;
  color: var(--primary-accent-color);
}

.h3 {
  font-family: var(--secondary-font);
  color: var(--text-color);
  font-weight: 500;
  font-size: 79px;
  line-height: 96%;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* хэдер */

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-left: 40px;
}

.logo__black,
.logo__yellow {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 39px;
}

.logo__yellow {
  color: var(--primary-accent-color);
}

.logo__icon {
  width: 18px;
  height: 19px;
  position: absolute;
}

.nav {
  display: flex;
  margin-right: 70px;
  padding-top: 27px;
}

.nav__ref-list {
  display: flex;
}

.nav__elem {
  margin-right: 37px;
}

.nav__elem:first-child {
  margin-left: 0px;
}

.nav__ref {
  font-weight: 400;
  font-size: 24px;
}

.nav__contact {
  text-align: right;
}

.nav__contact-elem {
  font-weight: 400;
  font-size: 24px;
}

.nav__contact-time {
  margin-top: 8px;
  color: var(--primary-accent-color);
}

/* герой */

.hero {
  position: relative;
  background-image: url("/image/hero.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.slogan {
  padding-left: 47vw;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 128px;
  line-height: 96%;
  color: var(--primary-accent-color);

  padding-top: 150px;
  margin-bottom: 20px;
}

.hero__text {
  margin-left: 48%;
  font-weight: 400;
  font-size: 24px;
  width: 766px;
  margin-right: 25px;
  margin-top: 20px;
}

.hero__icon {
  position: absolute;
  bottom: 55%;
  right: 3%;
}

.hero__ref {
  display: inline-block;
  margin-top: 30px;
  margin-left: 48%;
  color: var(--secondary-accent-colot);
  padding: 15px 50px;
  font-weight: 700;
  font-size: 30px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.02), 0 7px 5px 0 rgba(0, 0, 0, 0.03),
    0 13px 10px 0 rgba(0, 0, 0, 0.04), 0 22px 18px 0 rgba(0, 0, 0, 0.04),
    0 42px 33px 0 rgba(0, 0, 0, 0.05), 0 100px 80px 0 rgba(0, 0, 0, 0.07);
  background: linear-gradient(175deg, #ffdc26 0%, #e0af00 100%);
  border-radius: 47px;
  margin-bottom: 90px;
}

.hero__decor {
  position: absolute;
  top: 330px;
  left: 270px;
}

.hero__elem1 {
  margin-top: 15%;
  margin-left: -60%;
}

.hero__elem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 390px;
  height: 100px;
  padding-right: 10px;
  padding-left: 20px;
  border-radius: 29px;
  box-shadow: 0 4px 5px 0 rgba(29, 27, 19, 0.05),
    0 28px 38px 0 rgba(29, 27, 19, 0.09);
  background: #fff;
}

.hero__elem-text {
  margin-left: 20px;
}

.hero__elem-name {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 33px;
}

.hero__elem-content {
  font-weight: 400;
  font-size: 15px;
  color: var(--secondary-color);
}

/* описание */

.description {
  background-image: url("/image/description_bgc.jpg");
  background-size: 1500px 700px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.logo__desription {
  margin-left: 150px;
  margin-top: 122px;
  display: inline-block;
}

.logo__desription .logo__black,
.logo__desription .logo__yellow {
  display: inline-block;
  font-size: 94px;
}

.description__text-content {
  font-weight: 500;
  font-size: 24px;
  width: 957px;
  margin-left: 150px;
  margin-top: 10px;
  padding-bottom: 450px;
}

/* услуги */

.services {
  background-color: #fff9f4;
}

.services__title {
  text-align: center;
  padding-top: 68px;
}

.services__text-content {
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  color: var(--secondary-color);
}

.services__list-contain {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 85px;
}

.services__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 200px;
  flex-wrap: nowrap;
  margin-top: 106px;
}

.services__elem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.services__elem-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 164px;
  background-color: var(--secondary-accent-colot);
  border-radius: 50%;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.02), 0 0px 6px 0 rgba(0, 0, 0, 0.03),
    0 1px 12px 0 rgba(0, 0, 0, 0.04), 0 1px 24px 0 rgba(0, 0, 0, 0.05),
    0 3px 65px 0 rgba(0, 0, 0, 0.07);
}

.services__elem:last-child {
  margin-right: 0px;
}

.services__elem-text {
  margin-top: 26px;
  text-align: center;
  font-weight: 400;
  font-size: 37px;
  color: var(--secondary-color);
}

/* достоинства */

.advantages__h2 {
  text-align: center;
  padding-top: 87px;
}

.advantages__h3 {
  margin-top: 35px;
  text-align: center;
}

.advantages__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 142px;
  margin-top: 90px;
  margin-bottom: 97px;
}

.advantages-elem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.advantages-elem-img {
  margin-left: 83px;
}

.advantages-elem-img:first-child {
  margin-left: 0px;
}

.advantages__h4 {
  text-align: center;
  color: var(--text-color);
  font-size: 37px;
  font-weight: 400;
}

.advantages-elem-text {
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  color: var(--secondary-color);
  margin-top: 27px;
}

/* отзывы */

.review {
  background-color: #f6f6f6;
  padding-left: 115px;
  position: relative;
}

.review__background {
  position: absolute;
  top: 0;
  right: 0;
  height: 800px;
  padding-top: 40px;
}

.review__h2 {
  padding-top: 56px;
}

.review__grade {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.review__grade-img {
  margin-top: 40px;
}

.review__text {
  margin-left: 23px;
}

.review__name {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 51px;
  line-height: 96%;
}

.review__grade-contain {
  display: flex;
  align-items: flex-end;
}

.review__grade-num {
  color: var(--text-color);
  font-weight: 400;
  font-size: 37px;
  margin-top: 15px;
  margin-left: 10px;
}

.review__text {
  margin-top: 27px;
  width: 608px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 37px;
}

.review__slider {
  display: flex;
  align-items: center;
  margin-top: 75px;
  padding-bottom: 130px;
}

.review__slider-img {
  display: flex;
  align-items: flex-end;
}

.review__btn-prev,
.review__btn-next {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: 0px;
  background-color: var(--secondary-accent-colot);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.02), 0 7px 5px 0 rgba(0, 0, 0, 0.03),
    0 13px 10px 0 rgba(0, 0, 0, 0.04), 0 22px 18px 0 rgba(0, 0, 0, 0.04),
    0 42px 33px 0 rgba(0, 0, 0, 0.05), 0 100px 80px 0 rgba(0, 0, 0, 0.07);
}

.review__btn-next {
  margin-left: 32px;
}

.review__btn-prev {
  margin-right: 32px;
}

.review__main-slide {
  margin: 0px 20px;
  width: 128px;
  height: 128px;
}

/* рассылка */

.subscribe__h2 {
  text-align: center;
  margin-top: 85px;
}

.subscribe__h3 {
  text-align: center;
  margin-top: 15px;
}

.subscribe__text {
  margin-top: 27px;
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 26px;
  text-align: center;
}

.subscribe__form {
  margin-top: 152px;
  padding-bottom: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.subscribe__input {
  width: 1300px;
  height: 150px;
  border-radius: 24px;
  border: 0px;
  padding-left: 35px;
  padding-right: 500px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.02), 0 7px 5px 0 rgba(0, 0, 0, 0.03),
    0 13px 10px 0 rgba(0, 0, 0, 0.04), 0 22px 18px 0 rgba(0, 0, 0, 0.04),
    0 42px 33px 0 rgba(0, 0, 0, 0.05), 0 100px 80px 0 rgba(0, 0, 0, 0.07);
    font-weight: 400;
    font-size: 45px;
    color: var(--secondary-color);

}

.subscribe__input:focus {
  outline: 0;
}

.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 45px;
  color: var(--secondary-color);
}

.subscribe__submit-btn {
  position: absolute;
  top: 3vh;
  right: 17vw;
  font-weight: 400;
  font-size: 45px;
  padding: 27px 87px;
  border-radius: 24px;
  border: 0px;
  background-color: var(--primary-accent-color);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.02), 0 7px 5px 0 rgba(0, 0, 0, 0.03),
    0 13px 10px 0 rgba(0, 0, 0, 0.04);
}

@media (min-width: 1980px) and (height: 1200px) {
  .subscribe__submit-btn {
    right: 9vw;
  }
}

@media (min-width: 1980px) and (max-height: 1080px) {
  .subscribe__submit-btn {
    right: 17vw;
  }
}

/* футер */

footer {
  background-color: var(--primary-accent-color);
  padding-left: 75px;
  display: flex;
  padding-bottom: 70px;
}

footer .logo {
  padding-top: 50px;
  margin: 0px;
  margin-bottom: 50px;
}

footer .logo__yellow,
footer .logo__black {
  display: inline-lock;
  font-size: 80px;
}

footer .logo__yellow {
  color: var(--secondary-accent-colot);
}

.foot__social {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: -15px;
}

.foot__social-elem {
  background-color: var(--secondary-accent-colot);
  display: flex;
  width: 125px;
  height: 125px;
  border-radius: 29px;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.foot__service,
.foot__support {
  font-weight: 500;
  font-size: 57px;
  font-family: var(--secondary-font);
  margin-top: 77px;
}

.foot__service-elem,
.foot__support-elem {
  font-weight: 400;
  font-size: 45px;
  color: var(--secondary-accent-colot);
}

.foot__service-list,
.foot__support-list,
.foot__service,
.foot__support {
  margin-left: 110px;
}
